<%- include('partials/header') %>

<div class="container mt-5">
  <h1>Create an account</h1>
  <p>Let`s get started with your free trial</p>




  <div class="col-sm-8">
    <div class="card">
      <div class="card-body">

        <!-- Makes POST request to /register route -->
        <form action="/register" method="POST">
          <div class="form-group">
            <!-- <label for="email">Email</label> -->
            <input type="email" class="form-control" name="username" placeholder="Email">
          </div>
          <div class="form-group">
            <!-- <label for="password">Password</label> -->
            <input type="password" class="form-control" name="password" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-dark">Register</button>
        </form>

      </div>
    </div>

  </div>
  <div class="horizontal-role">
     
    <p>or</p>
   
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body sign-with">
        <a class=" btn-block btn-google btn-social" href="/auth/google" role="button">
          <i class="fab fa-google"></i>
          <p>
            Sign In with Google

          </p>
        </a>
      </div>
    </div>
    <div class="card-body sign-with">
      <a class=" btn-block btn-facebook btn-social" href="/auth/facebook" role="button">
        <i class="fab fa-facebook"></i>
        <p>
          Sign In with Facebook

        </p>
      </a>
   </div>

  </div>
</div>

          
        
            
        
         



        
      

<%- include('partials/footer') %>
